<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Online IDE to run the code: </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">


    <h1>Online-IDE</h1>
    <form action="#" th:action="@{/codeText}" th:object="${codeText}" method="post">
        <label for="language">Computing option:</label>
        <select name="language" id="language" th:field="*{languageString}">
            <option value="C++">C++</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
        </select>

        <br><br>

        <label for="w3review">Your Code:</label>
        <textarea id="w3review" name="w3review" rows="30" cols="70" th:field="*{code}">



  </textarea>
        <br><br>
        <label for="w4review">Input:</label>
        <textarea id="w4review" name="w4review" rows="5" cols="50" th:field="*{input}" >
        </textarea>
        <br><br>
        <p><input type="submit" value="Run" /> </p>
    </form>
</div>
</body>

</html>
