<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Online IDE to run the code: </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">


    <h1>Online-IDE</h1>
    <form action="#" th:action="@{/OnlineIDE}" th:object="${OnlineIDE}" method="post">

        <label for="w3review">Your Code:</label>
        <textarea id="w3review" name="w3review" rows="30" cols="70">

  </textarea>
        <br><br>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>

</html>
